@charset "UTF-8";



.title-content{
	display: flex;
	border: 1px solid red;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}
#title{
	display: flex;
	flex: 1;
	border: 1px dotted red;
}
#content{
	border: 1px dotted blue;
	flex: 2;
}
